html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url(e603c690f754c70654004a753c17b60b.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyrBold';
  src: url(50475e9398305457c4ead55941b10a0f.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyrLight';
  src: url(307781839e3e303ff49b223dc242baac.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT-Bold';
  src: url(6dddddc0b4726becc525fc7794cfcf6b.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT-BoldObl';
  src: url(1636d83d92a3f0fe3b6ceb2d6d704a77.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT-Book';
  src: url(0d987efe9bc0b858a7bc0367c2d5922c.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT-Demi';
  src: url(cc2af0787cb4b6579c8de6cdb7e0ec19.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT-DemiObl';
  src: url(f1c52f0223d3590a23ab46f1a842926b.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT-ExtraBold';
  src: url(c999cbc4fc7c2f563ac1c68072823706.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT-ExtraBoldObl';
  src: url(05a35faaff84442e557157df7597c995.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT-Heavy';
  src: url(8b9416a7a903a8734f22e4fd043f74e9.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT-HeavyObl';
  src: url(505ba927ca14f78ee751f16acc4fb591.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT-Light';
  src: url(c7f1106be884b5027c6d93deec8ca00a.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT-LightObl';
  src: url(3e5135bd678f5b5cb4c6b32926e46dd0.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT-Medium';
  src: url(540c81bc4ca37ae1efe4b60de51e753f.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT-MediumObl';
  src: url(f90c9809d9d4b016f83e11504701cf5d.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPTCond-Bold';
  src: url(7ede65733dacdd6975db06e7e2f06d84.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPTCond-BoldObl';
  src: url(e24d9a9d51b6ca7e400c97d9a7e93d3b.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPTCond-Book';
  src: url(f85738dcbde9166d12d053ba6ae5a01b.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPTCond-ExtraBold';
  src: url(24f1af89556b236a6b84fdd0dff80d9d.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPTCond-ExtraBoldObl';
  src: url(15401b2b2c77b17d695e53d5139f3652.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPTCond-Medium';
  src: url(a2a7debca6b8988db5f0dbe382789707.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPTCond-MediumObl';
  src: url(07cab374c27a0df130764a3aac4785dd.ttf) format('truetype');
  font-display: swap;
}
* {
    box-sizing: border-box;
}

.ChatPage__root_2P0JT{
     width: 100%;
 }

 .ChatPage__dashboardContent_2Kv9M{
     width: 100%;
     max-width: 1440px;
     margin: 0 auto;
     padding: 48px 80px 128px;
     display: flex;
     align-items: flex-start;
     justify-content: space-between;
 }

 .ChatPage__filters_1PACl{
     margin-right: 20px;
     position: -webkit-sticky;
     position: sticky;
     top: 20px;
     width: 237px;
 }

 .ChatPage__content_1NDUf{
     /* max-width: 995px;
     width: 75%; */
     width: 100%;
 }

 .ChatPage__filtersTitle_gtsGZ{
     font-family: RalewayBold, Arial, sans-serif;
     font-size: 18px;
     line-height: 24px;
     letter-spacing: 0.65px;
     -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
             font-feature-settings: 'pnum' on, 'lnum' on;
     color: undefined;
     margin-bottom: 10px;
 }

 .ChatPage__filterStatus_2xae-, .ChatPage__filterName_12peE{
     width: 100%;
     background: rgba(0, 199, 199, 0.1);
     border-radius: 5px;
     padding: 20px 16px;
     margin-bottom: 8px;
 }

 .ChatPage__filterStatusTitle_3AsY7, .ChatPage__filterNameTitle_pC5Pi{
     cursor: pointer;
     font-family: RalewaySemiBold, Arial, sans-serif;
     font-size: 14px;
     line-height: 20px;
     letter-spacing: 0.1px;
     -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
             font-feature-settings: 'pnum' on, 'lnum' on;
     color: undefined;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .ChatPage__arrow_2hZop{
     display: flex;
     align-items: center;
     justify-content: center;
     -webkit-transform: rotate(180deg);
             transform: rotate(180deg);
     transition: -webkit-transform .25s ease;
     transition: transform .25s ease;
     transition: transform .25s ease, -webkit-transform .25s ease;
 }

 .ChatPage__filterStatusOptions_2jt25{
     margin-top: 0;
     transition: .5s ease;
     max-height: 0;
     overflow: hidden;
     padding-left: 12px;
     position: relative;
 }

 .ChatPage__filterStatusOptions_2jt25:before{
         content: '';
         width: 1px;
         height: 100%;
         position: absolute;
         left: 0;
         top: 0;
         background: #FFFFFF;
      }

 .ChatPage__filterOpen_f2T9x .ChatPage__filterSelect_3WxcW, .ChatPage__filterOpen_f2T9x .ChatPage__filterStatusOptions_2jt25{
         max-height: 500px;
         margin-top: 14px;
     }

 .ChatPage__filterOpen_f2T9x .ChatPage__arrow_2hZop{
         -webkit-transform: rotate(0);
                 transform: rotate(0);
     }

 .ChatPage__filterStatusOption_2a2FW{
     height: 18px;
     display: flex;
     align-items: center;
     cursor: pointer;
     position: relative;
 }

 .ChatPage__filterStatusOption_2a2FW:not(:last-child){
         margin-bottom: 18px;
      }

 .ChatPage__optionInput_y10J9{
     width: 0;
     height: 0;
     overflow: hidden;
     visibility: hidden;
 }

 .ChatPage__optionInput_y10J9:checked ~ .ChatPage__optionTitle_g4CdB{
     font-family: RalewayMedium, Arial, sans-serif;
     font-size: 14px;
     line-height: 16px;
     letter-spacing: 0.4px;
     -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
             font-feature-settings: 'pnum' on, 'lnum' on;
     color: undefined;
 }

 .ChatPage__optionInput_y10J9:checked ~ .ChatPage__optionTitle_g4CdB .ChatPage__check_XsZ0l {
         border: 2px solid rgba(0, 199, 199, 1);
      }

 .ChatPage__optionInput_y10J9:checked ~ .ChatPage__optionTitle_g4CdB .ChatPage__check_XsZ0l svg{
             opacity: 1;
         }

 .ChatPage__optionTitle_g4CdB{
     display: flex;
     align-items: center;
     justify-content: flex-start;
     font-family: RalewayMedium, Arial, sans-serif;
     font-size: 14px;
     line-height: 16px;
     letter-spacing: 0.4px;
     -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
             font-feature-settings: 'pnum' on, 'lnum' on;
     color: rgba(34, 34, 34, 0.5);
     position: relative;
     padding-left: 27px;
     transition: .3s ease;
 }

 .ChatPage__optionTitle_g4CdB .ChatPage__check_XsZ0l{
         border-radius: 3px;
         overflow: hidden;
         border: 2px solid rgba(0, 199, 199, .5);
         position: absolute;
         left: 0;
         width: 18px;
         height: 18px;
         display: flex;
         align-items: center;
         justify-content: center;
      }

 .ChatPage__optionTitle_g4CdB .ChatPage__check_XsZ0l svg{
             opacity: 0;
             transition: .3s ease;
         }

 .ChatPage__optionTitle_g4CdB:hover{
          color: rgba(34, 34, 34, 0.75);
      }

 .ChatPage__optionTitle_g4CdB:hover .ChatPage__check_XsZ0l{
             border: 2px solid rgba(0, 199, 199, .75);
         }

 .ChatPage__optionTitle_g4CdB:hover .ChatPage__check_XsZ0l svg{
                 opacity: .75;
             }

 .ChatPage__filterSelect_3WxcW{
     transition: .5s ease;
     max-height: 0;
     margin-top: 0;
     overflow: hidden;
     background: #FFFFFF;
     border: 1px solid undefined;
     box-sizing: border-box;
     border-radius: 5px;
 }

 .ChatPage__filterActive_33_eO{
     cursor: pointer;
     font-family: RalewayMedium, Arial, sans-serif;
     font-size: 14px;
     line-height: 16px;
     letter-spacing: 0.4px;
     -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
             font-feature-settings: 'pnum' on, 'lnum' on;
     color: rgba(34, 34, 34, 0.75);
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 100%;
     padding: 11px 16px;
 }

 .ChatPage__filterOptions_3ajuk{
     max-height: 0;
     transition: max-height .5s ease;
 }

 .ChatPage__filterSelectOpen_2G6wQ .ChatPage__filterOptions_3ajuk{
         max-height: 500px;
     }

 .ChatPage__filterSelectOpen_2G6wQ .ChatPage__arrow_2hZop{
         -webkit-transform: rotate(180deg);
                 transform: rotate(180deg);
     }

 .ChatPage__filterOption_1-kG0{
     cursor: pointer;
     font-family: RalewayMedium, Arial, sans-serif;
     font-size: 14px;
     line-height: 16px;
     letter-spacing: 0.4px;
     -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
             font-feature-settings: 'pnum' on, 'lnum' on;
     color: rgba(34, 34, 34, 0.75);
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 100%;
     padding: 11px 16px;
 }

 .ChatPage__heading_3QdAj{
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 24px;
 }

 .ChatPage__title_1WPlz{
     font-family: RalewaySemiBold, Arial, sans-serif;
     font-size: 24px;
     line-height: 24px;
     letter-spacing: 0.6px;
     -webkit-font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
             font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
     color: undefined;
 }

 .ChatPage__help_29yHX{
     margin-left: 16px;
     display: flex;
     align-items: center;
     font-family: RalewayMedium, Arial, sans-serif;
     font-size: 12px;
     line-height: 16px;
     text-align: center;
     letter-spacing: 0.4px;
     -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
             font-feature-settings: 'pnum' on, 'lnum' on;
     color: rgba(34, 34, 34, 0.5);
 }

 .ChatPage__blue_3QwMy{
     font-family: RalewaySemiBold, Arial, sans-serif;
     font-size: 12px;
     line-height: 16px;
     text-align: center;
     letter-spacing: 0.4px;
     -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
             font-feature-settings: 'pnum' on, 'lnum' on;
     color: rgba(0, 199, 199, 0.75);
     margin-left: 5px;
     cursor: pointer;
 }

 .ChatPage__messengerContainer_1y6cO{
     width: 100%;
     height: calc(100vh - 64px);
     border-radius: 5px;
     background: rgb(217, 222, 243);
     display: flex;
     align-items: flex-start;
     overflow: hidden;
 }

 .ChatPage__contacts_2htmN{
     width: 40%;
     height: 100%;
     overflow-y: auto;
 }

 .ChatPage__messages_1K1m_{
     width: 60%;
     height: 100%;
     border-left: 1px solid grey;
     display: flex;
     flex-direction: column;
 }

 .ChatPage__contact_28e6Y{
     cursor: pointer;
     width: 100%;
     background: transparent;
     display: flex;
     align-items: flex-start;
     padding: 24px 16px;
     transition: .3s ease;
     background-color: #b5d2ff6b;
 }

 .ChatPage__contact_28e6Y.ChatPage__active_2gLcF{
          background: rgba(25, 109, 236, 0.4);;
      }

 .ChatPage__contact_28e6Y:hover{
           background: rgba(25, 109, 236, 0.25);
       }

 .ChatPage__photo_1PyDV{
     width: 48px;
     height: 48px;
     border-radius: 50%;
     flex-shrink: 0;
     margin-right: 16px;
     overflow: hidden;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .ChatPage__photoImage_MfqIw{
     width: 100%;
     height: 100%;
     -o-object-fit: cover;
        object-fit: cover;
 }

 .ChatPage__info_2guaa{
     width: calc(100% - 64px);
 }

 .ChatPage__messageYou_3PU9x{
     font-family: RalewaySemiBold, Arial, sans-serif;
     font-size: 14px;
     line-height: 16px;
     letter-spacing: 0.4px;
     -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
             font-feature-settings: 'pnum' on, 'lnum' on;
     color: undefined;
     flex-shrink: 0;
     margin-right: 5px;
 }

 .ChatPage__received_2G88C{
     display: flex;
     align-items: center;
     justify-content: center;
     margin-left: auto;
 }

 .ChatPage__type_1IbB3{
     font-family: RalewayMedium, Arial, sans-serif;
     font-size: 12px;
     line-height: 16px;
     letter-spacing: 0.4px;
     -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
             font-feature-settings: 'pnum' on, 'lnum' on;
     color: rgba(34, 34, 34, 0.5);
     margin-bottom: 4px;
     display: flex;
     align-items: center;
 }

 .ChatPage__label_28B8K{
     margin-left: auto;
     background: rgba(0, 199, 199, 0.1);
     font-family: RalewaySemiBold, Arial, sans-serif;
     font-style: normal;
     font-size: 12px;
     line-height: 16px;
     text-align: center;
     letter-spacing: 0.4px;
     -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
             font-feature-settings: 'pnum' on, 'lnum' on;
     color: undefined;
     border-radius: 50%;
     height: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 0 3px;
 }

 .ChatPage__name_1tW_r{
     font-family: RalewayBold, Arial, sans-serif;
     font-size: 18px;
     line-height: 24px;
     letter-spacing: 0.65px;
     -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
             font-feature-settings: 'pnum' on, 'lnum' on;
     color: rgba(0, 0, 0, 0.87);
     margin-bottom: 4px;
 }

 .ChatPage__lastMessage_5A2mE{
     width: 100%;
     display: flex;
     align-items: center;
 }

 .ChatPage__text_2VyiW{
     font-family: RalewayMedium, Arial, sans-serif;
     font-size: 14px;
     line-height: 16px;
     letter-spacing: 0.4px;
     -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
             font-feature-settings: 'pnum' on, 'lnum' on;
     color: rgba(34, 34, 34, 0.75);
     margin-right: 16px;
     max-width: 100%;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
 }

 .ChatPage__date_1zEgg{
     font-family: RalewayMedium, Arial, sans-serif;
     font-size: 12px;
     line-height: 16px;
     text-align: right;
     letter-spacing: 0.4px;
     -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
             font-feature-settings: 'pnum' on, 'lnum' on;
     color: rgba(34, 34, 34, 0.5);
     flex-shrink: 0;
     margin: 0 0 0 auto;
 }

 .ChatPage__messagesWrapper_3GElb{
     padding-top: 36px;
     overflow-y: auto;
 }

 .ChatPage__messagesWrapper_3GElb.ChatPage__noScrollWrapper_2t9MZ{
         display: flex;
         flex-direction: column;
         justify-content: flex-end;
      }

 .ChatPage__messagesContainer_Jw7IT{
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     padding: 35px 24px;
     border-top: 1px solid undefined;
     position: relative;
     background: rgb(217, 222, 243);
 }

 .ChatPage__messagesContainer_Jw7IT:before{
         content: attr(data-attr);
          font-family: RalewayMedium, Arial, sans-serif;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.4px;
          -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
                  font-feature-settings: 'pnum' on, 'lnum' on;
          color: rgba(34, 34, 34, 0.25);
          height: 26px;
          padding: 0 11px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #FFFFFF;
          border-radius: 5px;
          position: absolute;
          left: 50%;
          top: 0;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
      }

 .ChatPage__message_1Z0YQ{
     display: flex;
     flex-direction: row;
     align-items: center;
 }

 .ChatPage__message_1Z0YQ.ChatPage__messageYou_3PU9x{
         flex-direction: row-reverse;
      }

 .ChatPage__message_1Z0YQ.ChatPage__messageYou_3PU9x .ChatPage__messageContent_3dJ3x{
            background: rgba(25, 109, 236, 0.363);
        }

 .ChatPage__message_1Z0YQ.ChatPage__messageYou_3PU9x .ChatPage__photo_1PyDV{
             margin-left: 16px;
             margin-right: 0;
         }

 .ChatPage__message_1Z0YQ:not(:last-child){
         margin-bottom: 24px;
      }

 .ChatPage__messageContent_3dJ3x{
     padding: 12px 16px;
     width: calc(100% - 88px);
     background: #FFFFFF;
     border-radius: 5px;
 }

 .ChatPage__messageContentTop_2IPVn{
     display: flex;
     align-items: center;
     justify-content: flex-start;
     margin-bottom: 5px;
 }

 .ChatPage__messageName_23GZV{
     font-family: RalewaySemiBold, Arial, sans-serif;
     font-size: 12px;
     line-height: 14px;
     letter-spacing: 0.2px;
     -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
             font-feature-settings: 'pnum' on, 'lnum' on;
     color: #222222;
     max-width: 100%;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
 }

 .ChatPage__messageType_2GSV7{
     font-family: RalewayMedium, Arial, sans-serif;
     font-size: 12px;
     line-height: 14px;
     letter-spacing: 0.4px;
     -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
             font-feature-settings: 'pnum' on, 'lnum' on;
     color: rgba(34, 34, 34, 0.5);
     padding-left: 8px;
     margin-left: 8px;
     border-left: 1px solid undefined;
 }

 .ChatPage__messageDate_1ggHZ{
     display: flex;
     align-items: center;
     margin-left: auto;
     font-family: RalewayMedium, Arial, sans-serif;
     font-size: 12px;
     line-height: 16px;
     text-align: right;
     letter-spacing: 0.4px;
     -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
             font-feature-settings: 'pnum' on, 'lnum' on;
     color: rgba(34, 34, 34, 0.25);
 }

 .ChatPage__receivedIcon_3fF1q{
     display: flex;
     align-items: center;
     justify-content: center;
     margin-right: 8px;
 }

 .ChatPage__messageText_MlGqA{
     width: 100%;
     font-family: RalewayMedium, Arial, sans-serif;
     font-size: 14px;
     line-height: 24px;
     letter-spacing: 0.4px;
     color: rgba(34, 34, 34, 0.75);
     word-wrap: break-word;
 }

 .ChatPage__messageInput_2Lh7q{
     display: flex;
     align-items: center;
     height: 50px;
 }

 .ChatPage__inputWrapper_Wtevy{
     width: 100%;
     position: relative;
     display: flex;
     align-items: center;
     height: 50px;
 }

 .ChatPage__fileInputWrapper_11wTq{
     position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
     right: 22px;
 }

 .ChatPage__fileInput_1FMZO{
     width: 0;
     height: 0;
     overflow: hidden;
     visibility: hidden;
 }

 .ChatPage__icon_3Z0UH{
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
 }

 .ChatPage__input_vZCBC{
     height: 100%;
     width: 100%;
     outline: none;
     box-shadow: none;
     border-top: 1px solid undefined;
     border-bottom: 1px solid undefined;
     border-left: none;
     border-right: none;
     padding: 0 55px 0 16px;
     background: #FFFFFF;
     font-family: RalewayMedium, Arial, sans-serif;
     font-size: 14px;
     line-height: 24px;
     letter-spacing: 0.4px;
     color: undefined
 }

 .ChatPage__input_vZCBC::-webkit-input-placeholder{
     color: rgba(34, 34, 34, 0.25);
 }

 .ChatPage__input_vZCBC::-moz-placeholder{
     color: rgba(34, 34, 34, 0.25);
 }

 .ChatPage__input_vZCBC::-ms-input-placeholder{
     color: rgba(34, 34, 34, 0.25);
 }

 .ChatPage__input_vZCBC::placeholder{
     color: rgba(34, 34, 34, 0.25);
 }

 .ChatPage__button_1r6ro{
     border: none;
     outline: none;
     box-shadow: none;
     border-radius: 0;
     color: inherit;
     line-height: normal;
     overflow: visible;
     background-color: transparent;
     padding: 0;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 0 21px;
     font-family: RalewaySemiBold, Arial, sans-serif;
     font-size: 14px;
     line-height: 16px;
     text-align: center;
     letter-spacing: 0.1px;
     -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
             font-feature-settings: 'pnum' on, 'lnum' on;
     color: #FFFFFF;
     background: rgb(50, 50, 252);
     cursor: pointer;
 }

 .ChatPage__button_1r6ro:focus {
         outline: none;
         box-shadow: none;
     }

 .ChatPage__buttonDisabled_3t9Ar{
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    color: inherit;
    line-height: normal;
    overflow: visible;
    background-color: transparent;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 21px;
    font-family: RalewaySemiBold, Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1px;
    -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
            font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    background: rgb(118, 118, 255);
    cursor: default;
 }

 .ChatPage__buttonDisabled_3t9Ar:focus {
         outline: none;
         box-shadow: none;
     }

 .ChatPage__access_27ZE2{
     width: calc(100% - 48px);
     margin: 0 auto 34px;
     padding: 36px;
     background: #FFFFFF;
     border-radius: 10px;
 }

 .ChatPage__accessText_3nhiw{
     font-family: RalewayMedium, Arial, sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 24px;
     text-align: center;
     letter-spacing: 0.4px;
     color: rgba(34, 34, 34, 0.75);
     margin-bottom: 24px;
     max-width: 380px;
 }

 .ChatPage__selected_1HcMP{
     color: undefined;
 }

 .ChatPage__accessButtons_th11o{
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .ChatPage__accessButton_384YE{
     width: 192px;
     height: 38px;
     background: transparent;
     border: 1.25px solid #00C7C7;
     box-sizing: border-box;
     border-radius: 5px;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
     font-family: RalewaySemiBold, Arial, sans-serif;
     font-size: 14px;
     line-height: 16px;
     text-align: center;
     letter-spacing: 0.1px;
     -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
             font-feature-settings: 'pnum' on, 'lnum' on;
     color: undefined;
 }

 .ChatPage__buttonOpen_3A2-Q{
     color: #FFFFFF;
     background: undefined;
     margin-left: 24px;
 }

 .ChatPage__userFullName_3zivK{
     margin-bottom: 20px;
     font-family: RalewayMedium, Arial, sans-serif;
 }

 .ChatPage__rate_ePE60{
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: antiquewhite;
 }

.Authentication__container_2RdXU {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    height: 100vh;
    margin-top: -40px;
}

.Authentication__title_2OK3n {
    font-size: 30px;
}

.Authentication__form_2OuML {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 20px;
}

.Authentication__button_7u64p {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.PaymentsPage__root_5Qe-H{
    padding: 30px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.PaymentsPage__row_3Jugu{
    margin: 20px 0;
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PaymentsPage__input_1oMas{
    width: 80%;
    padding: 3px;
    border-radius: 5px;
}

.PaymentsPage__button_3GixB{
    color: #fff;
    background-color: #3f51b5;
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
}

.App__loader_2O9R9 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.App__stop_1qi97 {display: grid;
grid-template-rows: 70px 1fr;}

